table {
	border-collapse:collapse;
}
		
td {
	padding:5px;
	border:1px solid #000;
}

.inpuRows {
	text-align:center;
}
 
.outputRow {
	text-align:right;
}

button {
    background-color: Transparent;
    border: none;
}