body {
    background-color:#b8efee;	
}

hr {
	width:100%;
    	height:3px;
}

nav ul, div ul
{
	list-style-type:none;
	display:block;	
}

nav ul li
{
	float:left;
	margin: 5px;
	padding:5px;
}

nav ul:after
{
	clear:both;
	display:block;
	content:"";
}

div {
    float:left;
}

img {
    width:130px;
    height:150px; 
}